body {
  background:rgb(255, 216, 108);
}

img {
  height: 400px;
  width: auto;
}

.jumbotron {
    background-color: rgb(255, 216, 108);
    color: #7e563d;
    text-align: center;
    margin-top: 20px;
  }
  #newburger {
    color: #5c5c5c;
  }
  #leftside {
    background-color: #f44331;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: #a4bc26;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  